<!--<div class="ParallaxVideo ratio ratio-21x9"> -->
<div id="carouselExampleFade" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="min-height: 27rem;">
    <div class="carousel-item active text-center p-4 h-100" data-bs-interval="5000">
      <div class="row h-100 d-flex align-items-center">
        <div class="col-lg-6 justify-content-lg-end justify-content-center d-flex">
          <div>
            <h1>1º Consulte a Workipédia</h1>
            <p>Vou explorar as ofertas de emprego e de formação<br> Que estão disponíveis na Workipédia</p>
            <div class="d-flex justify-content-center">
              <a routerLink="./ofertas-emprego" class="btn-danger btn me-3">Ofertas de Emprego</a>
              <a routerLink="./ofertas-formacao" class="btn btn-danger">Ofertas de Formação</a>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <a routerLink="./noticias" class="btn btn-danger">Outras Notícias</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
          <img src="/../../../assets/img/1passo.png" class="img-fluid pt-5" alt="2passo_img" style="width: 500px;"
            draggable="false">
        </div>
    </div>
  </div>
  <div class="carousel-item text-center p-4 h-100" data-bs-interval="5000">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-lg-6 justify-content-lg-end justify-content-center d-flex">
        <div>
          <h1>2º Candidate-se às ofertas de<br> emprego e/ou formação</h1>
          <p>Encontrei uma oferta de emprego/formação que é a minha cara!!!
            <br>
            Preencher os campos que são solicitados, anexar o meu CV.
          </p>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
        <img src="/../../../assets/img/2passo.png" class="img-fluid" alt="2passo_img" style="width: 500px;"
          draggable="false">
      </div>
    </div>
  </div>
  <div class="carousel-item  text-center p-4 h-100" data-bs-interval="5000">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-lg-6 justify-content-lg-end justify-content-center d-flex">
        <div>
          <h1>3º Aguarde o contacto por parte<br> do gestor da oferta</h1>
          <p>Tenho questões, gostava de poder ser atendido pessoalmente <br>por um dos Técnicos da Workipédia.
            <br><br>Sou uma empresa e necessito de apoio.
            Estou a recrutar e gostava de ter o vosso apoio!
          </p>
          <p>Contacte já: <a href="mailto:redelisboaoriental@googlegroups.com"
              style="color: red;">redelisboaoriental@googlegroups.com</a></p>
          <a routerLink="./contactos" class="btn btn-danger">Contactos</a>
        </div>
      </div>

      <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center">
        <img src="/../../../assets/img/3passo.png" class="img-fluid" alt="3passo_img" style="width: 500px;"
          draggable="false">
      </div>
    </div>
  </div>
</div>

<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
<!------------------------------------------------------------------------------------->
<!---------------------------------------Quem somos------------------------------->
<section class="page-section bg-light" id="quem-somos">
  <div class="container-fluid">
    <div class="row d-flex align-items-center">
      <div class="col-xl-8 my-5">
        <div class="d-flex text-center justify-content-center">
          <div style="max-width: 900px;">
            <h1 class="pb-3" data-aos="fade-up" style="color: red">A Workipédia</h1>
            <p class="pb-3" data-aos="fade-up" data-aos-delay="200" style="font-size: 1.2rem;">
              Vivemos em profunda transformação digital, onde as plataformas digitais trabalham convergindo o que há
              de
              mais valioso nos tempos de hoje. Conectam interesses e pessoas ao mesmo tempo que otimizam
              tempo.<br><br>
              A utilização cada vez maior dos meios digitais e a situação pandémica atual veio reforçar a necessidade
              de
              ser criada a plataforma <strong>Workipédia</strong>, cujo objetivo principal é apoiar e integrar as
              pessoas no mercado de trabalho.<br><br>
              A <strong>Workipédia</strong> é desta forma, uma plataforma de emprego onde poderá consultar e
              candidatar-se a ofertas de emprego, ofertas formativas e eventos de empregabilidade.
            </p>
            <p data-aos="fade-up" data-aos-delay="300">
              <a routerLink="./sobre-nos" class="btn btn-danger" style="font-size: 1.2rem;">Sobre nós</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 text-center my-5 d-flex justify-content-center">
        <div data-aos="zoom-out" data-aos-delay="200">
          <div class="img-quem-somos">
            <img src="../../../assets/img/galeria/o-que-e.svg" class="rounded img-fluid" alt="Responsive image" />
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="etapas" class="etapas bg-light">
    <div class="container container-box text-center pt-3">
        <p class="big-title p-0">
          Somos uma rede de parceiros que visa Promover e implementar processos, na área da empregabilidade, numa lógica de desenvolvimento territorial e de forma integrada valorizando pessoas, organizações e redes.
        </p>
        <a routerLink="./sobre-nos"class="btn btn-danger" style="font-size: 1.2rem;">Sobre nós</a>
      
    </div>
  </section>-->

<re-contactos></re-contactos>