<!-- ======= Termos de Utilização Section ======= -->
<section id="termos-utilizacao" class="termos-utilizacao">
  <div class="container" data-aos="fade-up">
    <p>
      Respeitamos a privacidade de todos os nossos clientes e visitantes do
      nosso espaço online. Temos o compromisso de salvaguardar qualquer
      informação pessoal partilhada pelos nossos clientes e utilizadores.<br /><br />
      Contudo, aquando da necessidade da recolha de informação pessoal para
      disponibilizarmos os nossos serviços ou quando cada utilizador decidir
      fornecer alguns dos seus dados pessoais, o uso dos ditos será realizado de
      acordo com a legislação aplicável sobre proteção de dados pessoais - Lei
      67/98 de 26 de Outubro, Lei de Proteção de Dados - para que deste modo
      seja assegurada a segurança e confidencialidade dos dados pessoais
      fornecidos.<br /><br />
      Informamos ainda que, para fins de transporte e entrega das encomendas
      realizadas a nós, os dados pessoais recolhidos serão transmitidos a
      terceiros que sejam empresas transportadoras de mercadorias com o único e
      exclusivo propósito de entregar ao cliente final as encomendas realizadas
      por si, sendo o mesmo titular dos dados e informações pessoais
      recolhidas.<br /><br />
      Relativamente aos dados e informações pessoais fornecidas, garantimos
      sempre aos nossos clientes e utilizadores, nos termos da lei, que tenham
      os seguintes direitos: <br /><br />Direito de acesso; <br />Direito a ser
      esquecido; <br />Direito à portabilidade dos dados; <br />Direito de
      oposição;<br />
    </p>
  </div>
</section>
<!-- End Termos de Utilização Section -->
