@font-face {
    font-family: HK Grotesk Bold;
    src: url("./fonts/HKGrotesk-Bold.otf") format("truetype");
}
@font-face {
    font-family: HK Grotesk;
    src: url("./fonts/HKGrotesk-Regular.otf") format("truetype");
}