<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">
                <nav id="navbar" class="w-100 navbar navbar-expand-lg navbar-light order-last order-lg-0">
                        <a href="#" class="d-inline-block navbar-brand logo me-auto"><img
                                        src="../../../assets/img/logos/workipedia-v3.png" alt="" draggable="false"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mt-2 mt-lg-0 gap-3">
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a
                                                        class="nav-link scrollto collapsing" routerLink="./"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Inicio</a></li>
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a class="nav-link scrollto"
                                                        routerLink="./sobre-nos" data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Sobre Nós</a></li>
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a class="nav-link scrollto"
                                                        routerLink="./ofertas-emprego" data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Ofertas de Emprego</a>
                                        </li>
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a class="nav-link scrollto"
                                                        routerLink="./ofertas-formacao" data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Ofertas de Formação</a>
                                        </li>
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a class="nav-link scrollto"
                                                        routerLink="./noticias" data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Notícias</a>
                                        </li>
                                        <li class="nav-item" routerLinkActive="active"
                                                [routerLinkActiveOptions]="{exact: true}"><a class="nav-link scrollto"
                                                        routerLink="./contactos" data-bs-toggle="collapse"
                                                        data-bs-target=".navbar-collapse.show">Contactos</a></li>
                                </ul>
                        </div>
                </nav><!-- .navbar -->
        </div>
</header><!-- End Header -->