@use '../../../../../styles/index' as *;

.content-box .card-list {
    .card {
        background-color: $light;

        .card-header {
            font-weight: bold;
            border-bottom: none;
        }
    }
    .novo {
        cursor: pointer;
        .ai {
            font-size: 1.5rem;
        }
    }
}

:host ::ng-deep {
    .airc-table-header {
        background: white !important;
    }
}

.container-box {
    .content-box {
        height: calc(100% - 102px);
    }
}
section {
    padding: 30px 0;
}
