/*--------------------------------------------------------------
# Politica Privacidade
--------------------------------------------------------------*/
.politica-privacidade {
    h2{
        margin: 0;
    }
    hr {
        opacity: 1;
        width: 50px;
        border: 1px solid red;
        margin: 0;
        background-color: red;
      }
}