<!-- ======= Politica Privacidade Section ======= -->
<section id="politica-privacidade" class="politica-privacidade">
  <div class="container" data-aos="fade-up">
    <h2>
      POLÍTICA DE PRIVACIDADE
    </h2>
    <hr class="mb-3">
    <p>
      Pedimos-lhe que leia atentamente a nossa Política de
      Privacidade para saber como será tratada a sua Informação
      Pessoal quando utilizar o nosso site.<br /><br />
      Ao utilizar o nosso site compromete-se a aceitar os termos e
      condições da nossa actual Política de Privacidade.<br /><br />
      A APEA respeita a privacidade do Utilizador e processa os seus
      dados pessoais de acordo com as leis em vigor. O site da APEA
      apenas recolhe dados e informações que nos forem fornecidos
      voluntariamente e estes não serão processados para quaisquer
      outros fins que não os especificados.<br /><br />
      A APEA reserva-se no direito de actualizar ou modificar a sua
      Política de Privacidade a qualquer momento, nomeadamente, de
      forma a adaptá-la a alterações legislativas.<br /><br />
      <strong>Informação pessoal recolhida</strong><br /><br />
      Não recolhemos informação pessoal que o possa identificar ou
      que diga respeito a elementos pessoais seus, sem o seu
      consentimento. Podemos, deste modo, recolher e guardar
      informação que voluntariamente decidiu fornecer-nos,
      incluindo, mas não limitando, informação pessoal
      individualizada, como o seu nome, endereço de correio
      electrónico e número de telefone.<br /><br />
      Quando o utilizador visita e subscreve alguma das
      funcionalidades disponíveis no nosso site (newsletter, ficha
      de sócio, página de contacto), podemos ter necessidade de
      recolher alguns dos seus dados pessoais para lhe podermos
      remeter a informação ou esclarecimento que nos solicitou.<br /><br /><strong
        >Segurança e utilização da informação</strong
      >
      <br /><br />
      A APEA não utilizará os seus dados pessoais para lhe enviar
      qualquer correio não solicitado cujo conteúdo não tenha
      recebido o seu consentimento explícito. A APEA não vende nem
      negocia os seus dados com terceiros.<br /><br />
      A APEA não divulga a terceiros quaisquer dados pessoais dos
      seus Sócios e Utilizadores, sem o seu consentimento, excepto
      quando tal for exigido por lei. <br /><br />A APEA
      compromete-se a assegurar a privacidade dos visitantes do seu
      site na Internet.<br /><br />
      <strong>Conservação de informação pessoal</strong>
      <br /><br />Após a recolha de informação pessoal
      individualizada que voluntariamente nos transmitiu, a APEA
      procederá à sua conservação e manutenção o que nos permitirá
      continuar a fornecer serviços personalizados sem
      interrupção.<br /><br />
      Caso pretenda, poderá solicitar a qualquer momento a cópia dos
      dados que lhe digam respeito, a retirada do consentimento, a
      rectificação, a eliminação, a limitação, a portabilidade e a
      oposição ao tratamento dos mesmos, através dos links que se
      encontram em todas as comunicações, ou por e-mail para
      <a href="mailto:apea.secretariado@gmail.com">apea.secretariado@gmail.com</a> ou através
      das moradas:<br /><br /> Sede: Av. António José de Almeida,
      26, 1000-043 Lisboa<br /><br />
      Secretariado: CP 5063, Rua 19, nº 13, Quimiparque 2831-904
      Barreiro  <br /><br /><strong>Cookies</strong><br /><br />
      O nosso serviço Web recolhe automaticamente determinado tipo
      de informação não pessoal sobre a utilização do nosso site
      (normalmente designadas por cookies) no computador dos
      utilizadores, de modo a poder identificar a utilização
      efectuada pelos visitantes. <br /><br />Os cookies são
      pequenos ficheiros que armazenam informações no disco rígido
      ou browser do Utilizador, permitindo que os websites o
      reconheçam e saibam que já os visitou anteriormente. O
      Utilizador pode configurar o seu browser para recusar os
      cookies, porém nesse caso, o website ou partes do mesmo podem
      não funcionar correctamente. Os cookies são utilizados para
      monitorizar e analisar a utilização do website, permitindo
      proporcionar uma melhor experiência de utilização.
      <br /><br /><strong>Responsabilidade, uso e risco</strong>
      <br /><br />Este site contem links para sites de terceiros.
      Estes links são fornecidos unicamente para a conveniência e
      acessibilidade do utilizador. A APEA não avaliza o conteúdo
      nem é responsável pelo conteúdo de qualquer desses sites. O
      acesso e visita a qualquer desses sites de terceiros são
      conduzidos por inteiro risco do utilizador.<br /><br />
    </p>
  </div>
</section>
<!-- End Politica Privacidade Section -->
