@use "../../../../../styles" as *;

.card-list {
  min-height: 100vh;
  overflow: auto;
  padding-bottom: 20px;

  .re-card {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: #fcfcfc;
    width: 95%;
    // max-height: 30vh;
    padding-bottom: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    .card-title {
      span {
        color: red;
      }
      font-weight: bold;
      line-height: 1.2rem;
    }
    .card-content {
      height: 100%;
      font-size: 1.1rem;
      line-height: 1.5rem;
      overflow: hidden;
      .background-img {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 100%;
      }
      .descricao-text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
      .descricao-titulo {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }
    &:hover {
      border: 1px solid red;
      background-color: rgba(0, 0, 0, 0.05);
    }
    :hover {
      .card-content {
        -webkit-transform: translateX(1%);
        transform: translateX(1%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
}

.agree_terms {
  text-align: left;
  h2 {
    margin: 0;
  }
  input:focus {
    box-shadow: none;
    outline: none;
  }
  .agree {
    color: red;
    transition: 0.35s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}

//Content Box
.container-box {
  overflow: auto;
}

section {
  padding: 30px 0;
}

.re-card {
  background-color: #fff;
  width: 100%;
  height: auto;
  min-height: 90px;
  border-radius: 6px;
  display: flex;
  position: relative;
}

/* Trick */
body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.collapse {
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.ler-mais-box {
  max-height: 20px;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.ler-mais-box .ler-mais {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: bottom;
  margin: 0;
  padding-top: 70px;
  background-image: linear-gradient(to bottom, transparent, white);
}

.transicao-resposta {
  transition: max-height 1s;
  max-height: var(--var-tamanho);
  overflow: hidden;
  &.ler-mais-box {
    max-height: 20px;
  }
}
.imagemSelecionada {
  max-height: 400px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.thumbnail {
  max-height: 8vw;
  max-width: 8vw;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
